body{
    font-family: "arial";
	background-color: #EEEEEE;
	font-size:200%;
}
#content{
	background-color: #FFFFFF;
	/*margin:100px 150px;*/
	padding:20px;
}
h2{
	position:relative;
	top:-0.75em;
	color:#000000;
}
td a:hover, td a:visited, td a:link, td a:active{
    text-decoration: none;
	color:black;
}
.navigation_bar_item{
	border:2px solid #EEEEEE;
	padding:5px;
	width:20%;
	text-align:center;
	vertical-align:center;
	background-color: #CCCCCC;
}
.navigation_bar_link{
	color:#000000;
}
#navigation_bar{
	width:100%;
	background-color:#EEEEEE;
}
#page_title{
	padding:0px;
	margin-bottom:-1em;
}
#logo_img{
	height:5em;
	padding:1em;
}