/*--------------Site defaults-------------*/
body{
    font-family: "arial";
	background-color: #33cc33;
	font-size:200%;
}
#content{
	background-color: #FFFFFF;
	margin-top:2.5em;
	padding:20px;
}
h2{
	color:#000000;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
	color:black;
}

/*--------------Navbar-------------*/
#mobile_navbar{
	position:relative;
	left: 10px;
	margin:0px;
	padding:10px;
}
.navigation_bar_link{
	color:#000000;
}
.navigation_bar_item:hover{
	background-color:#70DB70;
	/*border: 10px solid #70DB70;*/
	padding: 10px;
}
.navigation_bar_item{
	padding:15px;
}
#navbar_div{
	font-size: 200%;
	position: fixed;
	background-color:#33CC33;
	top: 0;
	left: 0;
	width:200%;
}
#navigation_bar{
	display:none;
	width:100%;
	margin:0px;
	list-style: none;
	padding:10px;
}
#menu_button{
	height:1em;
	margin-right:10px;
}

/*--------------Header-------------*/
#page_title{
	padding:0px;
}
#logo_img{
	max-width:95%;
	height:auto;
	padding:1em 0;
}

/*--------------Content-------------*/
h3, h4{
	padding:0px;
	margin:0.25em 0px;
}
#description{
	padding:15px;
}
#spoiler_arrow{
	height=1em;
}
.link{
	background-color:#EEEEEE;
	padding:2.5px;
}
#spoiler_content{
	background-color:#EEEEEE;
	padding:2.5px;
	margin-top:5px;
}
.structure_images{
	width:100px;
	height:100px;
}
td{
	border: 1px solid black;
	padding: 5px;
}
b{
	padding:2.5px;
}
#ism_images_table{
	max-width:90%;
	table-layout:fixed;
}
#more_info{
	background-color:#EEEEEE;
	padding:2.5px;
	margin-top:5px;
}
iframe{
	width:90%;
}

















