body{
    font-family: "arial";
	background-color: #EEEEEE;
	font-size:200%;
}
#content{
	background-color: #FFFFFF;
	/*margin:100px 150px;*/
	padding:20px;
}
h2{
	position:relative;
	top:-0.75em;
	color:#000000;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
	color:black;
}
.navigation_bar_link{
	color:#000000;
}
.navigation_bar_item:hover{
	background-color:#70DB70;
	/*border: 10px solid #70DB70;*/
	padding: 10px;
}
.navigation_bar_item{
	padding:15px;
}
#navigation_bar{
	width:100%;
	background-color:#33CC33;
	margin:0px;
	padding:0px;
	list-style: none;
}
#page_title{
	padding:0px;
	margin-bottom:-1em;
}
#logo_img{
	height:5em;
	padding:1em;
}

h3, h4{
	padding:0px;
	margin:0.25em 0px;
}
#description{
	padding:15px;
}
#spoiler_arrow{
	height=1em;
}
.link{
	background-color:#EEEEEE;
	padding:2.5px;
}
#spoiler_content{
	background-color:#EEEEEE;
	padding:2.5px;
	margin-top:5px;
}
.structure_images{
	width:100px;
	height:100px;
}
td{
	border: 1px solid black;
	padding: 5px;
}
b{
	padding:2.5px;
}
#ism_images_table{
	max-width:90%;
	table-layout:fixed;
}
#more_info{
	background-color:#EEEEEE;
	padding:2.5px;
	margin-top:5px;
}
iframe{
	width:90%;
}

















