/*--------------Site defaults-------------*/
body{
    font-family: "arial";
	background-color: #33CC33;
	width:100%;
}
#content{
	background-color: #FFFFFF;
	margin:5%;
	padding:20px;
}
h2{
	color:#000000;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
	color:black;
}

/*--------------Navbar-------------*/
#mobile_navbar{
	display: none;
	height: 0px;
}
.navigation_bar_item{
	display:inline-block;
	padding: 10px;
}
.navigation_bar_link{
	color:#000000;
}
.navigation_bar_item:hover{
	background-color:#70DB70;
	/*border: 10px solid #70DB70;*/
	padding: 10px;
}
#navbar_div{
	position: fixed;
	top: 0;
	background-color:#33CC33;
	left: 10px;
	width:200%;
}
#navigation_bar{
	width:200%;
	margin:0px;
	padding:0px;
	list-style: none;
}
#menu_button{
	display:none;
}

/*--------------Header-------------*/
#page_title{
	padding:0px;
	margin-bottom:0px;
}
#logo_img{
	height:5em;
	max-width:90%;
	margin:1em;
	margin-bottom:20px;
}

/*--------------List-------------*/
#mods_list{
	padding:15px;
}
.mod_img{
	width:10em;
	height:10em;
	background:none;
}
.mod_img:hover{
	width:0;
	height:0;
	border:5em solid #33cc33;
}
.mod_title{
	font-size:1.5em;
	margin:0px;
	margin-bottom:0.75em;
}
.mod_desc, .mod_info{
	margin:0px;
}
.mod_tabledata{
	vertical-align:top;
	padding-left:0.25em;
}
hr:not(#title_hr){
	border: 0.5px solid #33CC33;
}
.mod_item:hover{
	color:#33cc33;
}



















