body{
    font-family: "arial";
	background-color: #EEEEEE;
}
#content{
	background-color: #FFFFFF;
	margin:2.5% 5%;
	padding:20px;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
#info_text{
	position:relative;
	top:-2em;
	left:2.5px;
}
.navigation_bar_item{
	border:2px solid #EEEEEE;
	padding:5px;
	background-color: #CCCCCC;
}
.navigation_bar_link{
	color:#000000;
}
#navigation_bar{
	width:100%;
	background-color:#EEEEEE;
}
#page_title{
	padding:0px;
	margin:0px;
}
#logo_img{
	height:5em;
	max-width:90%;
	padding:1em;
}
h3, h4{
	padding:0px;
	margin:0.25em 0px;
}
#description{
	padding:15px;
}
#spoiler_arrow{
	height=1em;
}
.link{
	background-color:#EEEEEE;
	padding:2.5px;
}
#spoiler_content{
	background-color:#EEEEEE;
	padding:2.5px;
	margin-top:5px;
}
.structure_images{
	width:100px;
	height:100px;
}
td{
	border: 1px solid black;
	padding:5px;
}
b{
	padding:2.5px;
}
#ism_images_table{
	max-width:80%;
	table-layout:fixed;
}
#more_info{
	background-color:#EEEEEE;
	padding:2.5px;
	margin-top:5px;
}
.mod_img{
	width:90%;
}
iframe{
	width:500px;
}


















